# Python
__pycache__/
*.py[cod]
*.so

# R
.Rhistory
.RData
.Rproj.user/

# Jupyter
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE
.idea/
.vscode/